<html lang="en">

  <head>
    <% include ../helpers/head %>
  </head>

  <body>

    <!-- the classes 'page-header' and 'btn btn-default' create bootstrap components.  -->
    <!-- Check out more components here: http://getbootstrap.com/components/ -->
    <div class="page-header">
      <h1>Amy Bienvenu's Heroku First Web App</h1>
      <h2>Based on HubSpot Academy free course</h2>
    </div>

    <div class="page-content">
      <p id="demo">
        This is my simple WebApp based on Node, .EJS, and Heroku service.
      </p>

      <button class="btn" type="button" onclick="myFunction()">
        Click Me for a surprise
      </button>

      <div id="image"></div>
    </div>

  </body>

</html>
